body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #007acc;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0 0 20px 0;
}

#introduction, #projects {
    margin: 20px;
    padding: 20px;
    background-color: #e6f2ff;
    border-radius: 10px;
}

#portrait {
    text-align: center;
    margin: 20px 0;
}

#portrait img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #cce7ff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

ul li:hover {
    background-color: #99d0ff;
}
